<div class="Design row pt-5 pt-md-0 mb-5" *ngIf="country, else noCountryFound" data-masonry='{"percentPosition": true }'>

    <div class="Design-column col-sm-6 col-lg-4 mb-4">
        <div class="Design-card card">
            <img [src]="country.coatOfArms.png" alt="">
            <div class="card-body">
                <h5 class="card-title">{{country.name.official}}</h5>
                <p class="card-text">{{country.name.common}} también conocida como {{country.name.official}} tiene como
                    países limítrofes a
                    <a class="text-primary text-decoration-none" *ngFor="let count of country.borders"> {{count}}</a> ,

                </p>
            </div>
        </div>
    </div>


    <div class="Design-column col-sm-6 col-lg-4 mb-4">
        <div class="Design-card card p-3">
            <figure class="p-3 mb-0">
                <blockquote class="blockquote">
                    <p> {{country.continents}} </p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-muted">
                    {{country.name.common }} pertenece a {{country.continents}} quien a la vez pertenece a
                    {{country.region}}.
                </figcaption>
            </figure>
        </div>
        <!-- MAP  -->
        <div class="Design-map card mt-2">
            <app-map [lngMap]="country.latlng"></app-map>
        </div>

    </div>
    <div class="Design-column col-sm-6 col-lg-4 mb-4">
        <div class="Design-card card">
            <img [src]="country.flags.png" alt="" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title">Población</h5>
                <p class="card-text">{{country.name.common }} tiene una población de {{country.population | number}}
                    habitantes</p>
                <p class="card-text"><small class="text-muted">Zona horaria : {{country.timezones}}</small></p>
            </div>
        </div>
    </div>
    <div class="Design-column col-sm-6 col-lg-4 mb-4">
        <div class="Design-card card bg-primary  text-center p-3">
            <figure class="mb-0">
                <blockquote class="blockquote">
                    <p>La capital de {{country.name.common }} es {{country.capital}}</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-dark">
                    Con una latitud de {{country.capitalInfo.latlng}}
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="Design-column col-sm-6 col-lg-4 mb-4">
        <div class="Design-card card text-center">
            <div class="card-body">
                <h5 class="card-title">Lenguajes</h5>
                <p class="card-text">Los lenguajes más comunes en {{country.name.common}} son:
                    <small class="text-muted fs-6">
                        {{country.languages | valoresObjetos }}
                    </small>

                </p>
                <p class="card-text"><small class="text-muted">Estas son sus lenguas oficiales</small></p>
            </div>
        </div>
    </div>
    <div class="Design-column col-sm-6 col-lg-4 mb-4">

        <div class="Design-card card">
            <div class="card-body">
                <h5 class="card-title">GINI</h5>
                <p class="card-text">GINI, también conocido como el coeficiente de Gini, representa la desigualdad
                    salarial en {{country.name.common }}, aquí es del
                    <small class="fs-5 text-info" *ngFor="let gin of country.gini | keyvalue">{{gin.value}}%</small>
                </p>
                <p class="card-text"><small class="text-muted">Mientras más bajo, mejor es la igualdad
                        salarial.</small></p>
            </div>
        </div>
    </div>
    <div class="Design-column col-sm-6 col-lg-4 mb-4">
        <div class="Design-card card p-3 text-end">
            <figure class="mb-0">
                <blockquote class="blockquote">
                    <p>La moneda principal de {{country.name.common }} es el
                        <small>{{country.currencies | json}}</small>
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-muted">
                    Moneda oficial
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="Design-column col-sm-6 col-lg-4 mb-4">
        <div class="Design-card card">
            <div class="card-body">
                <h5 class="card-title">FIFA</h5>
                <p class="card-text">En el fútbol la denominación oficial para {{country.name.common }} es
                    {{country.fifa}}</p>
                <p class="card-text"><small class="text-muted">Oficial por FIFA</small></p>
            </div>
        </div>
    </div>
</div>

<ng-template #noCountryFound>
    <div class="d-flex flex-row justify-content-center align-items-center ">
    </div>


</ng-template>